span.linkhost {
  color: #888;
  font-size: 75%;
  margin-left: 3px;
}

table.watchlist {
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table.watchlist td {
  padding: 0.5em 1em;
}

/* Item */
table.watchlist td:nth-child(1) {
  text-align: left;
}

/* Record/Paused, Last Updated */
table.watchlist td:nth-child(2),
table.watchlist td:nth-child(3) {
  color: #888;
  font-size: 85%;
  text-align: center;
}

/* Last Updated */
table.watchlist td:nth-child(3) {
  min-width: 10ch;
}

/* Historical Low, Current Price, Discount */
table.watchlist td:nth-child(4),
table.watchlist td:nth-child(5),
table.watchlist td:nth-child(6) {
  text-align: right;
}

table.watchlist th {
  padding: 0 1em;
}

table.watchlist thead {
  background-color: lightgrey;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 1;
}

table.watchlist tbody tr:nth-child(even) {
  background-color: lightcyan;
}
table.watchlist tbody tr:hover {
  background-color: lightyellow;
}

/* Last Updated indicator for update in progress */
td.updating span {
  display: none;
}
td.updating::before {
  content: "Loading...";
  animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
  0% { opacity: 0.2; }
  50% { opacity: 1.0; }
  100% { opacity: 0.2; }
}

th.borderBottom {
  border-bottom: 1px solid black;
}

th.item {
  width: 60%;
}
th.item input {
  width: 100%;
  border: 1px solid #767676;
}
